@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    box-sizing: border-box;
    font-family: Inter;
    margin: 0px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image {
    width: 100vw;
    left: 0px;
    top: 0px;
}

.background-image img {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
}

.header {
    position: absolute;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 18fr 4fr;
    color: white;
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
    margin-top: 20px;
    max-width: 1440px;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.main-section1 {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 40%;
}

.main-section1 h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    width: 90%;
}

.main-section1 p {
    color: white;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.3em;
    width: 90%;
}

.main-video {
    position: absolute;
    top: 40%;
    left: 55%;
}

#video {
    width: 100%;
}

.main-sectionsvg {
    position: absolute;
    top: 90%;
    left: 45%;
}

.main-section2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    position: relative;
    width: 900px;
}

.main-section2 video {
    object-fit: cover;
    /*to cover all the box*/
}

.screen-section {
    width: 150%;
    height: 500px;
}

#video-section {
    width: 100%;
    /* height: 500px; */
}

.play-button {
    position: absolute;
    top: 20%;
    z-index: 10;
    display: block;
}

.fa-play-circle {
    font-size: 250px;
    color: rgb(231, 230, 230);
    opacity: 0.7;
    /* z-index: 100; */
}

.main-section3 {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-section3>div {
    margin: 100px 50px;
    width: 486px;
    height: 739px;
}

.main-section3-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: #0D1613;
}

.footer-section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 250px 10px;
    max-width: 1440px;
}

#footer-section1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.02em;
    color: #E5E5E5;
}

.footer-section2 {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
    max-width: 1440px;
}

.footer-section2 a {
    text-decoration: none;
    color: #E5E5E5;
    margin: 20px 10px;
    font-size: 18px;
}

.footer-section2 p {
    cursor: pointer;
    color: #E5E5E5;
    margin: 15px 10px;
    font-size: 17px;
}

.footer-section2-one {
    width: 230px;
    height: 29px;
    text-align: center;
}

.footer-section2-two {
    width: 179px;
    height: 22px;
    text-align: center;
}

.footer-section2-three {
    width: 295px;
    height: 44px;
    text-align: center;
}

.footer-section2-four {
    width: 287px;
    height: 22px;
    text-align: center;
}

#footer-talk {
    font-size: 20px!important;
    font-weight: 700;
}

.footer-section3 {
    width: 95vw;
    padding: 67px 5px 83px 5px;
    color: #E5E5E5;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* commenting the dropdown part:start - took over by Himaja */
/* styling for project listing page dropdown- start: added by sajir */

/* .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 3em;
}

.header-section {
    display: flex;
    margin: 0 1em;
    justify-content: space-between;
}

.header-section select {
    border: 1px solid #E5E5E5;
} */

/* styling for project listing page dropdown -end : added by sajir */
/* commenting the dropdown part:end - took over by Himaja  */

@media screen and (max-width: 943px) {
    .main-section2 {
        width: 65%;
        height: 5%;
    }
}
