@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    font-family: Inter;
    margin:0px;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    position: fixed;
    width: 100vw;
}

#background-img{
    max-width: 100%;
    width: 100vw;
    height: 3073px;
}

.container{
    position: absolute;
    top: 0px;
    width: 95vw;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 51px 35px;
}

.header-left a {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #E5E5E5;
    text-decoration: none;
}

.header-right{
    margin-top: 10px;
}

#header-contact{
    margin-left: 10px;
}

#header-bussiness{
    border-bottom: 4px solid #E5E5E5;
}

.header-right a {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-right: 76px;
    color: #E5E5E5;
    text-decoration: none;
}

.main-section1-head{
    /* position: absolute; */
    width: 617px;
    height: 173px;
    margin: 440px 30px 200px 30px;
}

#main-section-head{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #E5E5E5;
}

#main-section1-words{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #E5E5E5;
    margin-top: 10px;
}

.main-sectionsvg{
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0px 30px 200px 30px;
}

.main-section1-svg{
    width: 95vw;
}

#main-section1-svg{
    color: #F7FFF7;
    opacity: 0.5;
    border-radius: 3px;
}

.main-section2{
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#main-section2-head{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #E5E5E5;
    margin-bottom: 35px;
}

.main-section2-box{
    width: 1360px;
    height: 705px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-left: 3.5%;
    margin-bottom: 150px;
}

.main-section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 90px;
}

.main-section3 > div{
    margin: 5px 50px;
    height: 739px;
}

.main-section3-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-section3-head{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #E5E5E5;
    text-align: center!important;
    text-align: left!important;
    margin-bottom: 15px;
}



#main-section3-words{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #E5E5E5;
}

.main-section3-img{
    width: 436px;
    height: 739px;

}

